@import "tailwindcss";
html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.error-strip {
  color: red;
  font-size: medium;
  position: absolute;
  top: 10%;
}

.sign-up-button {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.login_form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login_button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.login_input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
